extends ../layout
block content
    section.section
    .container
        .columns
            .column.is-half-desktop
                h1.is-hidden #{list.name} (#{list.id})
                if list.defunct
                    .notification.is-warning
                        p This list has been flagged as defunct on #{__('site_name')}. Therefore, this list will not be used in any #{__('site_name')} API endpoints and is not displayed throughout the majority of the site.

                if !list.defunct && !list.display
                    .notification.is-warning
                        p This list is currently hidden on #{__('site_name')}.
                        | To find out more about why we may hide lists, please read
                        a(href='/about', target='_blank')  our about page
                        | .
                if content
                    .notification.is-primary
                        p #{content}
            .column.is-half-desktop.is-full-mobile
                include ../Includes/cards/listcard

