extends layout
block content
    section.section
        .container
            .hero
                .hero-body.has-text-centered
                    h1.title.is-size-1 About & Credits
                    h4.title.is-size-4.is-primary #{__('site_name')} - #{__('short_desc')}

            .columns
                .column
                    .card.is-box-shadow
                        .card-content
                            for section in sections
                                h5.is-size-5.has-text-white(id=section.id)
                                    | #{section.title}&nbsp;
                                    a(href=`#${section.id}`) &supdsub;
                                div !{section.content}

block footer
    script(src='/assets/js/scroll.js')
