doctype html
html
    head
        meta(charset='utf-8')
        title #{title || __('site_name')} - #{__('short_desc')}
        link(rel='canonical', href=route)
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')

        meta(property='og:title', content=__('site_name') + ' - ' + __('short_desc'))
        meta(property='og:site_name', content=__('site_name'))
        meta(property='og:url', content=route)
        meta(property='og:image', content=baseURL + '/assets/icon.png')
        meta(property='og:locale' content=language || 'en_US')
        meta(property='og:og:description' content=__('full_desc'))
    body
        block content
