.card.is-box-shadow
    .card-content
        .media
            .media-left
                img.image.lazyload#list_icon(alt=list.name + ' Icon', data-lazysrc=list.icon, src='/assets/img/loading.gif')
            .media-content
                p.title.is-3 #{list.name}
                p.subtitle.is-6 #{list.url}
                if list.discord_only
                    .checkbox(tabindex='0', role='button')
                        .checkbox-inner
                            input(type='checkbox', id='', name='', checked='')
                            span
                        span Discord Bots Only
            .media-right.button-group.button-group-vertical
                a.button.is-light.is-small(href='/lists/' + list.id) Information
                a.button.is-light.is-small(href=list.url,  target='_blank') Website
                if list.discord
                    a.button.is-light.is-small(href=list.discord, target='blank') Discord
                if user && (user.mod || user.admin)
                    a.button.is-light.is-small.is-mod Fetch Icon from invite
                    a.button.is-light.is-small.is-mod(href='/lists/' + list.id + '/edit') Edit List


