extends ../layout
block header
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/styles/monokai-sublime.min.css'
        integrity='sha256-kTdkFYZP3TqSvlJAUiZ6/s5L2xu4xsdU9eYMWsKOk74=' crossorigin='anonymous')

block content
    section.section
        .container
            .columns
                .column
                    .card.is-box-shadow
                        .card-content
                            .columns
                                .column.is-one-third.is-full-mobile
                                    aside.menu
                                        p.menu-label Libraries
                                        ul.menu-list
                                            for lib in libraries
                                                li
                                                    a(href=`#${lib.slug}`) #{lib.language} - #{lib.name}
                                        p.menu-label Other
                                        ul.menu-list
                                            li
                                                a(href='/api/docs') API Endpoints
                                .column.is-two-thirds.is-full-mobile
                                    h1.is-size-4.has-text-grey-lighter API Libraries
                                    .columns
                                        .column.is-full
                                            p
                                                | Some libraries have been written making use of the
                                                |  #[a(href='/api/docs') #{__('site_name')} API] to make posting your
                                                |  bot server/guild count a breeze from your preferred language and bot
                                                |  library. These libraries are not all maintained by #{__('site_name')}
                                                |  but are known to make use of the
                                                |  #[a(href='/api/docs') #{__('site_name')} API] and function as
                                                |  expected.
                                                br
                                                br
                                                i
                                                    | Want your own #{__('site_name')} API library listed here? Contact
                                                    |  us using the Discord link in the navbar.
                    for lib in libraries
                        .card.is-box-shadow
                            .card-content
                                .columns
                                    .column.left.is-two-thirds.is-full-mobile
                                        h1.is-size-4.has-text-grey-lighter(id=lib.slug) #{lib.language} - #{lib.name}
                                            a(href=`#${lib.slug}`)  &supdsub;
                                        | !{lib.description}
                                    .column.is-one-third.is-full-mobile
                                        if lib.badge_image && lib.badge_url
                                            a(href=lib.badge_url, target='_blank')
                                                img.version-badge.is-box-shadow(src=lib.badge_image,
                                                    alt=`${lib.language} - ${lib.name}`)
                                        .field.is-grouped.is-grouped-centered.is-grouped-vertical
                                            a.button.is-brand.is-size-6(href=`https://github.com/${lib.repo}`,
                                                target='_blank')
                                                span View on GitHub
                                            a.button.is-brand.is-size-6(href=lib.package_link, target='_blank')
                                                span View on #{lib.package_link_name}
                                    if lib.example_usage
                                        .column.left.is-full
                                            h5.is-size-5 Example Usage
                                            pre
                                                code(class=lib.highlight) #{lib.example_usage}

block footer
    script(src='/assets/js/scroll.js')
    script(async src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/highlight.min.js'
        integrity='sha256-AIeoCoYob+LP5IKqSqhSgagg7jY5XcJ3n/XEO7b/OX8=' crossorigin='anonymous'
        onload='hljs.initHighlightingOnLoad();')
